AISSTREAM_API_KEY = 
REPLAY_MODE = true
NEO4J_URI =  "bolt://localhost:7687" #default value
NEO4J_USER = "neo4j" #default value
NEO4J_PASSWORD = "maf_neo4j_2024" #default value

# Generate yout AISSTREAM.IO API KEY and place here.
# Choose your neo4j uri, username, and passowrd and place here